header {
    width: 100%;
    background-color: #1da1f2;
    color: #fff;
    position: absolute;
    top: 0;
}
footer {
    width: 100%;
    background-color: #e6e6e6;
    color: #888;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}